.div-article {
    display: flex;
    justify-content: center;
}

.container1 {
    position: absolute;
    width: 97%;
}

.image {
    width: 40%;
    height: auto;
    margin-right: 10px;
}

.artigo {
    color: black;
}

.container1 h1 {
    color: rgb(54, 54, 54);
    font-size: 3rem;
    text-align: left;
}

.container1 p {
    font-size: 1.2rem;
    margin: 0px;
    text-align: left;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
}

