html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 95vh;
    font-size: 1.5em;
}
.container .div-contents {
    border-style: solid;
}

.container .div-contents a{
    text-decoration: none;
    color: black;
}

.container .div-contents h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -2.2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: normal;
}