
/*PROFILE ACCOUNT PAGE*/
.information-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
}

.sidebar-main {
    width: 30%;
}

.information-component {
    width: 70%;
}

.box-information {
    margin-top: 50px;
}

.box-title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(163, 163, 163);
    margin-bottom: 20px;
}


.account-panel {
    margin-top: 40px;
}

.btn-profile {
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 15rem;
    font-weight: 700;
    font-size: 15px;
    background-color: #FF723A;
    padding: 15px 40px;
    margin-top: 15px;
}

.btn-profile span {
    position: relative;
    z-index: 1;
}

.btn-profile:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 250%;
    background: #ffb81e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-profile:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn-profile a {
    text-decoration: none;
    color: white;
}


.account-panel-wrapper p {
    margin-top: 15px;
}

.account-panel-wrapper p a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

.account-panel-wrapper p a:hover {
    text-decoration: underline;
}

/*PROFILE ACCOUNT PAGE*/

/* CREATE ACCOUNT PAGE */
.createAccount-page {
    background-color: white;
}

.createAccount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.createAccount-content {
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    width: 450px;
}

.createAcc-fieldset {
    transition: 0.3s;
}

.createAcc-fieldset:hover {
    border-color: #FF723A;
}

.createAcc-input {
    width: 98%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.createAcc-input:focus {
    outline: none;
}

.createAcc-input:-webkit-autofill,
.createAcc-input:-webkit-autofill:hover,
.createAcc-input:-webkit-autofill:focus,
.createAcc-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.createAcc-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-createAcc {
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 12rem;
    font-weight: 700;
    font-size: 15px;
    background-color: #FF723A;
    padding: 15px 40px;
}

.btn-createAcc span {
    position: relative;
    z-index: 1;
}

.btn-createAcc:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 200%;
    background: #ffb81e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-createAcc:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/*verify acc page*/

.verifyAcc-page {
    background: #FF723A;
    background: -moz-linear-gradient(-45deg, #FF723A 0%, #FFB952 50%, #FF723A 100%);
    background: -webkit-linear-gradient(-45deg, #FF723A 0%, #FFB952 50%, #FF723A 100%);
    background: linear-gradient(135deg, #FF723A 0%, #FFB952 50%, #FF723A 100%);
}

.verifyAcc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    flex-direction: column;
}

.verifyAcc-content {
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    width: 35%;
}


/*verify acc page*/


/* edit account page */
/* edit account page */
/* edit account page */

.editAcc-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.information-editAcc-content {
    width: 100%;
}

.editAcc-fieldset {
    transition: 0.3s;
    width: 90%;
}

.editAcc-fieldset:hover {
    border-color: #FF723A;
}

.editAcc-input {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 1.7rem;
    padding: 5px;
}

.div-input {
    overflow: hidden;
}

.editAcc-input:focus {
    outline: none;
}

.div-errors {
    color: red;
}

.btn-editAcc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.btn-editAcc .btn-profile{
    width: 100%;
}