* {
    font-family: 'Roboto', sans-serif;
}

/*PROFILE ACCOUNT PAGE*/
.information-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
}

.sidebar-main {
    width: 30%;
}

.information-component {
    width: 70%;
}

.box-information {
    margin-top: 50px;
}

.box-title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(163, 163, 163);
    margin-bottom: 20px;
}


.account-panel {
    margin-top: 40px;
}

.btn-profile {
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 15rem;
    font-weight: 700;
    font-size: 15px;
    background-color: #FF723A;
    padding: 15px 40px;
    margin-top: 15px;
}

.btn-profile span {
    position: relative;
    z-index: 1;
}

.btn-profile:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 250%;
    background: #ffb81e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-profile:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn-profile a {
    text-decoration: none;
    color: white;
}


.account-panel-wrapper p {
    margin-top: 15px;
}

.account-panel-wrapper p a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

.account-panel-wrapper p a:hover {
    text-decoration: underline;
}

/*PROFILE ACCOUNT PAGE*/







/* LOGIN PAGE */
.login-page {
    background-color: white;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    flex-direction: column;
}

.form-container {
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    width: 40%;
}

.form-logo {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-logo-content {
    height: 70px;
    width: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

.form-logo-content a {
    height: 70px;
    width: 170px;
}

.login-input-fieldset {
    transition: 0.3s;
}

.login-input-fieldset:hover {
    border-color: #FF723A;
}

.input-login {
    width: 98%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.input-login:focus {
    outline: none;
}

.input-login:-webkit-autofill,
.input-login:-webkit-autofill:hover,
.input-login:-webkit-autofill:focus,
.input-login:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.div-button-login {
    display: flex;
    justify-content: space-between;
}


.btn {
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 15rem;
    font-weight: 700;
    font-size: 15px;
    background-color: #FF723A;
    padding: 17px 50px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #ffb81e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.div-forgot-password a {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.div-forgot-password a:hover {
    color: #FF723A;
}

.div-criar-conta a {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    transition: 0.2s;
}

.div-criar-conta a:hover {
    color: #FF723A;
}

/* LOGIN PAGE */










/* CREATE ACCOUNT PAGE */
.createAccount-page {
    background-color: white;
}

.createAccount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.createAccount-content {
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    width: 450px;
}

.createAcc-fieldset {
    transition: 0.3s;
}

.createAcc-fieldset:hover {
    border-color: #FF723A;
}

.createAcc-input {
    width: 98%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.createAcc-input:focus {
    outline: none;
}

.createAcc-input:-webkit-autofill,
.createAcc-input:-webkit-autofill:hover,
.createAcc-input:-webkit-autofill:focus,
.createAcc-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.createAcc-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-createAcc {
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 12rem;
    font-weight: 700;
    font-size: 15px;
    background-color: #FF723A;
    padding: 15px 40px;
}

.btn-createAcc span {
    position: relative;
    z-index: 1;
}

.btn-createAcc:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 200%;
    background: #ffb81e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-createAcc:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/*verify acc page*/

.verifyAcc-page {
    background: #FF723A;
    background: -moz-linear-gradient(-45deg, #FF723A 0%, #FFB952 50%, #FF723A 100%);
    background: -webkit-linear-gradient(-45deg, #FF723A 0%, #FFB952 50%, #FF723A 100%);
    background: linear-gradient(135deg, #FF723A 0%, #FFB952 50%, #FF723A 100%);
}

.verifyAcc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    flex-direction: column;
}

.verifyAcc-content {
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    width: 35%;
}


/*verify acc page*/


/* edit account page */
/* edit account page */
/* edit account page */

.editAcc-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.information-editAcc-content {
    width: 100%;
}

.editAcc-fieldset {
    transition: 0.3s;
    width: 90%;
}

.editAcc-fieldset:hover {
    border-color: #FF723A;
}

.editAcc-input {
    width: 80%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 1.7rem;
    padding: 5px;
}

.editAcc-input:focus {
    outline: none;
}