@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.btn-customized {
    background-color: #ff7b46;
    color: white;
    border-color: #ff7b46;
}

.btn-customized:hover {
    background-color: #ffffff;
    color: #ff7b46;
    border-color: #ff7b46;
}

.card-message-fs {
    color: rgb(93, 93, 93);
}




@media only screen and (max-width: 425px) {
    .cover-message-fs {
        font-size: calc(0.6rem + .9vw);
    }

    .card-message-fs {
        font-size: calc(0.5rem + .3vw);
    }

    .footer-login-page {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 425px) {
    .footer-login-page {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 576px) {
    .footer-login-page {
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 768px) {
    .footer-login-page {
        margin-top: 10rem;
    }
}

@media only screen and (min-width: 992px) {
    .footer-layout {
        justify-content: space-around !important;
    }

    .footer-login-page {
        margin-top: 20rem;
    }
}