


body {
    margin: 0px;
}
#ad {
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    background-position: top;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

.layer{
  position: absolute;
  width:100%;
  height: 100%;
  z-index: 10;
}

#logo-animated{
  top: 0;
  bottom: 0;
  left: 0;
  width: 48%;
  height: 170px;
  margin: auto;
}


.fundo{
  background-color: #e60000;
  height: 250px;
  width: 300px;
  /* position: absolute; */
  transition: 2.3s;
  opacity: 0;
}

.red{
  background-color: #e60000;
  height: 600px;
  width: 300px;
}


.redslide-half{
  left: 150px;
  height:600px;
  width: 0;
  top:0;
  overflow: hidden;
  opacity: 0;
  transition: .3s;
  transition-timing-function: ease-in-out;
}


.fullwidth3{
  width: 150px;
  opacity: .75;
}

.fullwidth2{
  width:300px;
  left: 0;
}



.bg{
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  transition: 6s;
}

.copy1{
  background-image: url("../images/copy1.png");
  transition: .5s ease-out;
  background-repeat: no-repeat;
  z-index: 6;
}

.copy2{
  background-image: url("../images/copy2.png");
  transition: .5s ease-out;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 6;
  -webkit-transform: translateY(-2%) rotate(.1deg);
  -moz-transform: translateY(-2%) rotate(.1deg);
  transform: translateY(-2%) rotate(.1deg);
}

.copy3{
  background-image: url("../images/copy3.png");
  transition: .5s ease-out;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 6;
  -webkit-transform: translateY(-2%) rotate(.1deg);
  -moz-transform: translateY(-2%) rotate(.1deg);
  transform: translateY(-2%) rotate(.1deg);
}


.selo{
  background-image: url("../images/selo.png");
  transition: .3s ease-out;
  background-repeat: no-repeat;
  z-index: 6;

}

.legal{
  background-image: url("../images/legal.png");
  transition: .5s ease-out;
  background-repeat: no-repeat;
  z-index: 6;
  opacity: 0;
}

.call{
  transform: scale(.9);
  transition: .5s ease-out;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 5rem;

}



.elem-container{
  bottom: 279px;
  right: 157px;
}

.logos{

}


@keyframes blink {
  0% {
    opacity: .2;
  }
  25% {
    opacity:.5;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}


/* RESET */
.ad-120x600{
  width:118px;
  height: 598px;
}

.ad-320x50{
  width:318px;
  height: 48px;
}

.ad-980x120{
  width:978px;
  height: 118px;
}

.ad-336x228{
  width:334px;
  height: 226px;
}

.ad-300x600{
  width: 298px;
  height: 598px;
}

.ad-300x250{
  width: 298px;
  height: 248px;
}

.ad-160x600{
  width: 158px;
  height: 598px;
}

.ad-728x90{
  width: 726px;
  height: 88px;
}

.ad-970x250{
  width: 968px;
  height: 248px;
}

.d-none{
  display: none;
}

.p-abs{
  position: absolute;
}

.op-0{
  opacity: 0;
}

.op-1{
  opacity: 1;
}

.op-half{
  opacity: 0.5;
}

.anim-top{
  top:0;
}

.anim-bottom{
  bottom:0;
}

.anim-left{
  left:0;
}

.anim-right{
  right: 0;
}



.z-1{
  z-index: 1;
}

.z-2{
  z-index: 2;
}

.z-3{
  z-index: 3;
}

.z-4{
  z-index: 4;
}

.z-5{
  z-index: 5;
}


/* RESET */

.anim-left{
  -webkit-transform: translateX(0%) rotate(.1deg);
  -moz-transform: translateX(0%) rotate(.1deg);
  transform: translateX(0%) rotate(.1deg);
  opacity: 1;
}

.small{
  -webkit-transform: translateX(-13%) translateY(5%) scale(.80) rotate(.1deg);
  -moz-transform: translateX(-13%) translateY(5%) scale(.80) rotate(.1deg);
  transform: translateX(-13%) translateY(5%) scale(.80) rotate(.1deg);
}

.full{
  transform: scale(1) rotate(.1deg);
  -webkit-transform: scale(1) rotate(.1deg);
  -moz-transform: scale(1) rotate(.1deg);
}

.anim-top{
  -webkit-transform: translateY(0%) rotate(.1deg);
  -moz-transform: translateY(0%) rotate(.1deg);
  transform: translateY(0%) rotate(.1deg);
  opacity: 1;
}
