.div-article {
    display: flex;
    justify-content: center;
}

.container1 {
    position: absolute;
    width: 97%;
}

.image {
    width: 40%;
    height: auto;
    margin-right: 10px;
}

.artigo {
    color: black;
}

.container1 h1 {
    color: rgb(54, 54, 54);
    font-size: 3rem;
    text-align: left;
}

.container1 p {
    font-size: 1.2rem;
    margin: 0px;
    text-align: left;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* GERIR UTILIZADORES */
.body-GerirU {
    margin: 10px;
    background-color: #cfd8dc;
}

.table-data {
    display: flex;
    justify-content: center;
}

.table-container {
    border-radius: 10px;
    background-color: #eaeff1;
    padding: 20px;
    padding-top: 0px;
}

.header-buttons {
    display: flex;
    justify-content: space-around;
}
